{% extends "../base/base.html" %}
{% load static %}
{% block content %}

<section class="contact">

            <div class="contactFrom" >
                
                    <h2><b>welcome</b></h2><br>
                    <b>{{username}}</b><span>, your account created successfully<span>

                    <p>Make sure to remember your username or password to Login</p>
                    
                    <div><a href="{% url 'home' %}" class="logbutton">OK</a></div>
            </div>

        </div>
</section>

{% endblock %}