<div class="box">
        {% load static %}
        <div class="card-box login close-card" id="login">
            <div onclick="hiddeLogin()"><a href="#" class="closeC">&times;</a></div>
            <h1>Login</h1>
            <div class="username"><input type="text" id="username" name="username" placeholder=".username"></div>
            <div class="password"><input type="text" id="password" name="password" placeholder=".password"></div>
            <div><a class="small" href="#" >forget password?</a></div>
            <div><a href="#" class="logbutton">login</a></div>
            <div onclick="showRegAs()"><a href="#" class="logbutton" >register</a></div>
            
            <span>login with</span>
            <div>
                &nbsp;
                <img src="{%  static 'image/icon/gmail.png' %}" height="60" width="50" alt="logo" style="padding-top:15px;">&nbsp;&nbsp;
                <img src="{%  static 'image/icon/pathao.png' %}" height="40" width="40" alt="logo">&nbsp;&nbsp;&nbsp;
                <img src="{%  static 'image/icon/uber.png' %}" height="40" width="40" alt="logo">&nbsp;&nbsp;&nbsp;
                <img src="{%  static 'image/icon/facebook.png' %}" height="40" width="40" alt="logo">&nbsp;
            </div>

        </div>
        <div class="card-box register close-card" id="register">
            <form action="{% url 'createRider' %}" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div onclick="hiddeReg()"><a href="#" class="closeC">&times;</a></div>
            <h1>Rider</h1>
            <div class="username"><input type="text" id="username" name="username" placeholder=".full name"></div>
            <div class="username"><input type="text" id="username" name="email" placeholder=".email"></div>
            <div class="password"><input type="text" id="password" name="password" placeholder=".password"></div>
            <div class="password"><input type="text" id="password" name="cpassword" placeholder=".confirm password"></div>
            <div>
                    <input type="submit" value="Create Account" class="logbutton">
            </div>
            
            <div><a href="#" class="logbutton" onclick="showRegAs()">Back</a></div>

            </form>

            {% if messages %}
            <div class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
            {% endif %}

        </div>
        <div class="card-box register close-card" id="registerD">
            <form action="{% url 'createDriver' %}" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div onclick="hiddeReg()"><a href="#" class="closeC">&times;</a></div>
            <h1>Driver</h1>
            <div class="username"><input type="text" id="username" name="username" placeholder=".full name"></div>
            <div class="username"><input type="text" id="username" name="email" placeholder=".email"></div>
            <div class="password"><input type="text" id="password" name="password" placeholder=".password"></div>
            <div class="password"><input type="text" id="password" name="cpassword" placeholder=".confirm password"></div>
            <div>
                    <input type="submit" value="Create Account" class="logbutton">
            </div>
            
            <div><a href="#" class="logbutton" onclick="showRegAs()">Back</a></div>

            </form>

        </div>
        <div class="card-box choose close-card" id="choose">
            <div onclick="hiddeRegAs()"><a href="#" class="closeC">&times;</a></div>
            <h1>Register As</h1>
            <div><a href="#" class="logbutton" onclick="showReg()">Rider</a></div>
            <div><a href="#" class="logbutton" onclick="showRegD()">Driver</a></div>
            <div><a href="#" class="logbutton" onclick="showLogin()">Back</a></div>
        </div>
    </div>
