<nav class="main" >
        <div class="logo">
            {% load static %}
            <img src="{%  static 'image/icon/logo.png' %}" height="60" width="100" alt="logo">
            <span><span style="color: rgba(64, 155, 230, 0.863);">Ride</span> Schedule</span>
        </div>
        <div class="mid">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#" class="service fix">Service <i class="fas fa-angle-down" style="font-size:18px;"></i> </a>
                    <div class="dropdown" >
                        <ul >
                            {% if user.is_authenticated %} 
                                {% if request.user.profile.isRider %}
                                    <li><a href="{% url 'dailySchedule' %}">Daily Schedule</a></li>

                                    <li><a href="#">Weekly Schedule</a></li>
                                    <li><a href="#">Monthly Schedule</a></li><hr>
                                    <li><a href="{% url 'makeSchedule' %}">Custom Schedule</a></li>
                                {% else %}
                                    <li><a href="{% url 'schedulePost' %}">Take a Schedule</a></li><hr>
                                    <li><a href="#">Policies</a></li>
                                    <li><a href="#">Emergency Support</a></li>
                                {% endif %}
                            {% else %}
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Emergency Support</a></li>
                            {% endif %}

                        </ul>

                    </div>

                </li>

                <li><a href="#" class="fix">Help <i class="fas fa-angle-down" style="font-size:18px;"></i> </a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="{% url 'help' %}">User help center</a></li>
                            <li><a href="{% url 'help' %}">Rider help center</a></li>
                            <li><a href="{% url 'help' %}">Walk in support center</a></li>
                            <li><a href="{% url 'help' %}">How to join Ride Schedule</a></li>
                        </ul>

                    </div>
                </li>
                <li><a href="#" class="fix">Contact <i class="fas fa-angle-down" style="font-size:18px;"></i> </a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="{% url 'contact' %}"><i class="fa fa-comment"></i> Send a message</a></li>

                            <li><a href="{% url 'contact' %}"><i class="fa fa-phone"></i> Helpline +123456</a></li><hr>
                            <li>&nbsp;&nbsp;
                                <a href="#"><i class="fab fa-facebook" style="font-size:40px;"></i></a>
                                <a href="#"><i class="fas fa-mail-bulk" style="font-size:40px; "></i></a>
                                <a href="#"><i class="fab fa-twitter" style="font-size:40px;"></i></a>
                            </li>
                        </ul>

                    </div>
                </li>
                <li><a href="#" class="fix">More <i class="fas fa-angle-down" style="font-size:18px;"></i> </a>
                    <div class="dropdown" >
                        <ul >

                            <li><a href="#">Permissions</a></li>
                            <li><a href="#">Rate Us</a></li>
                            {% if user.is_authenticated %} 
                                <li><a href="#">Policies</a></li>
                                <li><a href="#">Emergency Support</a></li>
                            {% endif %}

                        </ul>

                    </div>
                </li>
            </ul>
        </div>
        <div class="profile" >
        {% if user.is_authenticated %}    
            {% if request.user.profile.isRider %}                  
                <i class='fa fa-user'></i>
            {% else %} 
                
                <i class='fa fa-bicycle'></i>
            {% endif %}       
            <div><span>{{request.user}}</span></div>
            {% if request.user.profile.image %}        
                <div onclick="showMenu()"><img  src="{{request.user.profile.image.url}}" height="50" width="50" alt="logo"></div>
            {% else %}
                <div onclick="showMenu()"><img  src="{%  static 'image/icon/profile.png' %}" height="50" width="50" alt="logo"></div>
            {% endif %}
        {% else %}
            <div onclick="showLoginOnly()"><span>Login</span></div>
            <div><img  src="{%  static 'image/icon/profile.png' %}" height="50" width="50" alt="logo"></div>
        {% endif %}
        </div>
    </nav>