{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="UserHelpCenterMain">

       <div class="UserHelpCenterTop">
        <div class="UserHelpCenterTopHead" >
            <h1>User Help Center</h1>
        </div>
        

       </div>
       <div class="UserHelpCenterBottom">
       <div class="UserHelpCenterBottomText">
        <P>. What is RideSchedule Advance?</P>
        <P>. How can I check the repayments remaining on Advances and which Advances have been repaid?</P>
        <P>. How can I issue a report?</P>
        <p>. How to avoid pickup related issues?</p>
        <p>. How to cancel/edit a ride?</p>
        <p>. How to request for password reset?</p>
       </div>
       </div>
     </div> 
{% endblock %}


