{% extends "../base/base.html" %}
{% load static %}
{% block content %}

<div class="imagediv" >
    
    <img src="{%  static 'image/background/bg3.png' %}"  alt="bg"  >
</div>


<div class="home-main">
    <div class="image-div">
        <img src="{%  static 'image/img/scheduleNow.png' %}" class="scheduleNowImg" alt="bg" height="300" width="650">
    </div>
    {% if user.is_authenticated %}
        {% if user.profile.isRider %}
        <a href="{% url 'dailySchedule' %}" class="button">Make your schedule ></a>
        {% endif %}
    {% else %}
        <a href="#" class="button" onclick="showLoginOnly()">Make your schedule ></a>
    {% endif %}
</div>






{% endblock %}