{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="policy-body">
    <div class="policy-box">
        <div class="policy-text">
            <h1>Privacy Policy:</h1>
            <p> Last Edited : 28 April 2024</p>
            <p>Greetings Users,</p>
            <p>This privacy policy describes how the RideSchedule.com website and related application collects, uses, shares and protects the personal information that we collect through this Site.Please read below to learn more about our information practices. By using this Site, you agree to these practices. </p>
            
            <h2>Information Provided By Your Web Browser</h2>
            <p>You have to provide us with personal information like your name, contact no, mailing address and email id, our web will also fetch your location information in order to give you the best service. Like many other websites, we may record information that your web browser routinely shares, such as your browser type, browser language, software and hardware attributes, the date and time of your visit, the web page from which you came, your Internet Protocol address and the geographic location associated with that address, the pages on this Site that you visit and the time you spent on those pages.</p>
             
            <h2>Personal Information That You Provide</h2>
             <p>If you want to use our service or contact a RideSchedule member, you must create an account on our Site. To establish your account, we will ask for personally identifiable information that can be used to contact or identify you, which may include your name, phone number, and e-mail address. We may also collect demographic information about you, such as your zip code, and allow you to submit additional information that will be part of your RideSchedule profile.
            </p>
            <h2>Payment Information</h2>
            <p>Our payment channel are both online and cash on delivery. Thus, if you are a Rider, you will make payments once the driver you accepted. We will have your adress and cotact no. in order to identify the Rider.</p>
            <h2>Ratings And Reviews</h2>
            <p>If you are a Rider or Driver, you will be able to rate and review on our services. If you choose to submit a rating, this will be aggregated with other ratings and available to other registered users of the Site. If you submit a review, your review along with your user name will be posted for everyone to see.</p>
             <h2>How We Protect Your Data</h2>
             <p>If you have registered on this Site, you should be sure to protect your user ID and password to prevent others from being able to access the Site in your name. You should also be on guard for “phishing” scams and similar types of identity theft schemes. We do not and will not, at any time, request your credit card information, your account ID, login password, or national identification numbers in a non-secure or unsolicited e-mail or telephone communication.

                If there is a breach of security involving your personal data that requires notification, you agree that we may notify you about the breach via email or by a conspicuous posting on this Site. We will make the notification without unreasonable delay, consistent with the legitimate needs of law enforcement and any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system.</p>
                <h2>This Policy Is An Agreement</h2>
                <p>When you visit this Site, you are accepting the practices described in this Privacy Policy.</p>
        </div>
        <h4>I read the Privacy Notice.</h4>
        <div class="buttons">
            <a href="{% url 'home' %}" class="btn green-btn">Yes</a>
        </div>
       
    </div>
</div>
{% endblock %}
