{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="profilePic">
        {% if request.user.profile.image %}
        <img src="{{request.user.profile.image.url}}" height="320" width="320" alt="logo">
        {% else %}
        <img  src="{%  static 'image/icon/profile.png' %}" height="320" width="320" alt="logo">
        {% endif %}

    </div>
    <div class="profileRate">
    {% if request.user.profile.isRider %}
        <table class="profileTableRate">
            <tr>
                <td>Ratings</td>
            </tr>
            <tr>
                <td>{{request.user.profile.rate}}/5.0</td>
            </tr>
        </table>
    {% else %}
        <table class="profileTableRate">
            <tr>
                <td>Ratings</td>
            </tr>
            <tr>
                <td>{{request.user.profile.rate}}/5.0</td>
            </tr>
            <tr>
                <td>Bike Model</td>
            </tr>
            <tr>
            <td>BAJAJ PULSAR N160</td>
            </tr>
            <tr>
                <td>Model Number</td>
            </tr>
            <tr>
                <td>Dhaka Metro GA-45-2873</td>
            </tr>
        </table>

    {% endif %}
        
    </div>
    <div class="profileInf">
        <table class="profileTable">
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td>{{request.user.first_name}} {{request.user.last_name}}</td>
            </tr>
            <tr>
                <td>Username</td>
            </tr>
            <tr>
                <td>{{request.user.username}}</td>
            </tr>
            <tr>
                <td>Email</td>
            </tr>
            <tr>
                <td>{{request.user.email}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
            </tr>
            <tr>
                <td>{{request.user.profile.phone}}</td>
            </tr>
            <tr>
                <td>Address</td>
            </tr>
            <tr>
                <td>{{request.user.profile.address}}</td>
            </tr>
            <tr>
                <td>Country</td>
            </tr>
            <tr>
                <td>{{request.user.profile.country}}</td>
            </tr>
        </table>
    </div>

</div>
{% endblock %}