{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="profilePic">

    <img src="{%  static 'image/icon/profile.png' %}" height="320" width="320" alt="logo">

    </div>
    <div class="profileRate">
        <table class="profileTableRate">
            <tr>
                <td>Ratings</td>
            </tr>
            <tr>
                <td>4.75</td>
            </tr>
            <tr>
                <td>Bike Model</td>
            </tr>
            <tr>
            <td>BAJAJ PULSAR N160</td>
            </tr>
            <tr>
                <td>Model Number</td>
            </tr>
            <tr>
                <td>Dhaka Metro GA-45-2873</td>
            </tr>
        </table>
    </div>
    <div class="profileInf">
        <table class="profileTable">
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td>Ashraful Alom</td>
            </tr>
            <tr>
                <td>Email</td>
            </tr>
            <tr>
                <td>ashrafulalom21@gmail.com</td>
            </tr>
            <tr>
                <td>Phone Number</td>
            </tr>
            <tr>
                <td>+88017**-******</td>
            </tr>
            <tr>
                <td>Gender</td>
            </tr>
            <tr>
                <td>Male</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
            </tr>
            <tr>
                <td>10-11-2000</td>
            </tr>
        </table>
    </div>

</div>
{% endblock %}