{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<hr>
<div class="SearchPost">
    <div class="textBox1"><input type="text" id="start" name="start" placeholder=".start time"></div>
    <div class="textBox2"><input type="text" id="end" name="end" placeholder=".end time"></div>
    <div class="textBox3"><input type="text" id="locations" name="location" placeholder=".location"></div>
    <div><a href="#" class="buttonS">search</a></div>
</div>
<div class="post-box">
    {% for p in schedulePost %}
    <div class="post">
        <div class="sTime"> Start time:</div>
    <div>
        <span>Pick Up address : /span><br>
        <span>Drop to address :</span>
    </div>
    <div> schedule type: </div>
    <div> price: </div>
    <div>
        <span>Name: </span><br>
        <span>Phone: </span><br>
        <span>Rate: </span><br>
    </div>
    <div class="profile">

        {% comment %} {% if p.rider_id1.id.persons %}
            <img src="{{p.rider_id1.id.persons.url}}" height="70" width="70" alt="logo">
        {% else %} {% endcomment %}
            <img src="{%  static 'image/icon/profile.png' %}" height="70" width="70" alt="logo">
       

    </div>

</div>
{% endfor %}

</div>



{% endblock %}