{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<img class="icon" src="{%  static 'image/img/timeTable.png' %}" alt="Trulli" width="120" height="130">
      <table class="tab">
         <tr>
            <th>Time/Day</th>
            <th><b>Saturday</b></th>
            <th><b>Sunday</b></th>
            <th><b>Monday</b></th>
            <th><b>Tuesday</b></th>
            <th><b>Wednesday</b></th>
            <th><b>Thursday</b></th>
            <th><b>Friday</b></th>
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Che</td>
            <!-- <td rowspan="6" class="special"><b>LUNCH</b></td>
            <td colspan="3" class="special">LAB</td> -->
            <td>Phy</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
         </tr>
         <tr>
            <td class="highlight"><b>11:10-12:00</b></td>
            <!-- <td colspan="2" class="special">LAB</td> -->
            <td>LAB</td>
            <td>Eng</td>
            <td>Che</td>
            <td>Mat</td>
            <td>Bio</td>
            <td>Ban</td>
            <td>Phy</td>
            <!-- <td class="special">SPORTS</td> -->
         </tr>
         <tr>
            <td class="highlight"><b>12:00-12:40</b></td>
            <td>Mat</td>
            <td>Phy</td>
            <td>Eng</td>
            <td>Che</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <!-- <td colspan="3">LIBRARY</td> -->
         </tr>
         <tr>
            <td class="highlight"><b>12:40-1:30</b></td>
            <td>Phy</td>
            <td>Eng</td>
            <td>Che</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <!-- <td colspan="3" class="special">LAB</td> -->
            <td>Mat</td>
         </tr>
         <tr>
            <td class="highlight"><b>1:30-2:20</b></td>
            <!-- <td colspan="3" class="special">LAB</td> -->
            <td>Mat</td>
            <td>Che</td>
            <td>Eng</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <td>Phy</td>
         </tr>
         <tr>
            <td class="highlight"><b>2:20-3:10</b></td>
            <td>Eng</td>
            <td>Che</td>
            <td>Mat</td>
            <td>Ban</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <!-- <td colspan="3">SEMINAR</td> -->
            <!-- <td class="special">SPORTS</td> -->
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <td>Phy</td>
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Phy</td>
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Phy</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <td>Phy</td>
         </tr>
         <tr>
            <td class="highlight"><b>10:20-11:10</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Bio</td>
            <td>Cse</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Phy</td>
         </tr>
      </table>
{% endblock %}
