{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="post-box">
    {% for p in schedulePost %}
        {% if p.rider_id == request.user.profile %}
        <div class="post">
            <div class="sTime"> Start time:{{p.pickUp_time}}</div>
            <div>
                <span>Pick Up address : {{p.pickup_from}}</span><br>
                <span>Drop to address :{{p.drop_to}}</span>
            </div>
            <div> schedule type: {{p.type_of_schedule}}<br><br>
                {{p.startDate}} to {{p.endDate}}
    
            </div>
            <div> 
                price: {{p.price}}<br>
                status: pending
            </div>
            <div>
                
                    <td><a href="#" class="confirmButton">Update</a></td>
                    <td><a href="{% url 'deleteSchedule' p.id %}" class="deleteButton">Delete</a></td>
                
                {% comment %} <a href="#" class="btn btn-danger">Delete</a><br><br> {% endcomment %}
                
            </div>
            {% comment %} <div>
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-info">Update</a>
            </div> {% endcomment %}
            

        </div>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}