
*{
    margin:0px;
    padding:0px;
}
.background-black{
    display: block;
    position:absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 1;

}
.card-box{
    
    display: block;
    margin-left: 40% ;
    
    margin-top:20vh;
    position:absolute;
    width: 300px;
    height: 400px;
    background-color: white;
    border-color: #09B3E4;
    border-style: solid;
    border-width: 3px;
    border-radius:25px;
    align-content: center;
    padding: 20px;
    text-decoration: none;
    z-index: 2;
    span{
        display: block;
        text-align: center;
        width: 260px;
        
    }

}
.card-box h1{
    text-align: center;
    margin-bottom: 30px;
}
#username ,#password{
    font-size: 18px;
    width: 250px;
    border-radius: 25px;
    padding: 5px;
    margin:5px;
    padding-left: 25px;
}
#username:hover ,#password:hover{
    border-color: #09B3E4;
}
.small {
    display:block;
    text-decoration: none;
    font-size: 15px;
    width: 250px;
    text-align: end;
    color:#0491aa;

}
.small:hover{
    color:blue;
}
.logbutton{
    display:block;
    font-size: 20px;
    background-color: #09B3E4;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    border-radius: 25px;
    margin: 10px;
    width: 240px;

}
.logbutton:hover{
    background-color: #4ac9ec;
}

.close-card{
    display:none;
}

.closeC{
    position:absolute;
    font-size: 40px;
    font-style: none;
    text-decoration: none;
    border-radius: 0px 20px 0 20px;
    top:0px;
    right:0px;
    padding-right:10px;
    padding-left: 10px;

    color:white;
    background-color: #09B3E4;
}
.closeC:hover{
    color:red;
}
 .messageBox{
    display:block;
    position:absolute;
    min-height: 20vh;
    min-width: 35vh;
    border-style: solid;
    border-width: 3px;
    border-color: #09B3E4;
    border-radius: 20px;
    margin-top: 20vh;
    margin-left:40%;
    background-color: white;
    font-size: 18px;

 }
 .messageBox .messageTitle{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    align-content: center;

 }
 .messageTitle h1{
    text-align: center;
    text-decoration: none;
 }
.messageButton{
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    bottom:20px;
}
.messageButton a{
    background-color: #0491aa;
   border: none;
   color: white;
   padding: 10px 30px;
   text-align: center;
   text-decoration: none;
   font-size: 15px;
   cursor: pointer;
   border-radius: 25px;

}
.messagecart{
    text-align: center;
}
.messagecart1{
    padding-left: 10px;
}

.messageButton a:hover{
   background-color: #2fb2c9;
 }