@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
   display:block;
   position:absolute;
   top:20vh;
   left:7%;
   width:30%;
}

.form{
   position:absolute;
   width:100%;
   height: 40vh;
   
   
}
.inputlocation{
   padding-bottom: 20px;
   margin-bottom: 20px;
}
.inputlocation #locationL{
   display:block;
   position: absolute;
   width: 100%;
   border-radius: 8px;
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 15px;
   padding-left: 25px;
   height: 30px;
   border-width: 2px;
}
.inputlocation .fa-location{
   display:block;
   position: absolute;
   z-index: 1;
   padding: 9px;
   padding-top:12px;
}
.submitBtn input[type=submit]{
   font-size: 15px;
   color:white;
   border-radius:20px;
   background-color: rgb(8, 120, 151);
   width: 100%;
   border-style:none;
   height:30px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.submitBtn input[type=submit]:hover{
   background-color: rgb(8, 156, 197);
}
.inputtime #timeL{
   width: 100%;
   border-radius: 8px;
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
   padding-left: 15px;
   height: 30px;
   border-width: 2px;

}
.inputdate{
   display:flex;
   width:100%;
   span{
      width: 10%;
      text-align: center;
      font-size: 20px;
   }

}
.inputdate #dateL{
   width: 45%;
   border-radius: 8px;
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
   padding-left: 15px;
   height: 30px;
   border-width: 2px;
}

.inputtime select{
   width: 100%;
   border-radius: 8px;
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 10px;
   padding-left: 15px;
   height: 30px;
   border-width: 2px;
}
.weeks{
   display:flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   width: 100%;
}
.weeks .weeklabel{
   display:block;
   background-color: rgb(214, 214, 214);
   color:rgb(46, 46, 46);
   padding:10px;
   font-size: 15px;
   border-radius: 15px;
}
.weekCheckbox{
   display:none;
}
.weekCheckbox:checked + .weeklabel{
   background-color: rgb(241, 121, 7);
   color:white;
}