<nav class="main">
        <div class="logo">
            <img src="static/image/icon/logo.png" height="65" width="80" alt="logo">
            <span><span style="color: rgba(64, 155, 230, 0.863);">Ride</span> Schedule</span>
        </div>
        <div class="mid">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#" class="service fix">Service </a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="#">Daily Schedule</a></li>
                            <li><a href="#">Weekly Schedule</a></li>
                            <li><a href="#">Monthly Schedule</a></li><hr>
                            <li><a href="makeSchedule/">Custom Schedule</a></li>
                        </ul>

                    </div>

                </li>

                <li><a href="#" class="fix">Contact</a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="#">User help center</a></li>
                            <li><a href="#">Rider help center</a></li>
                            <li><a href="#">Walk in support center</a></li><hr>
                            <li><a href="#">How to join Ride Schedule</a></li>
                        </ul>

                    </div>
                </li>
                <li><a href="#" class="fix">Help</a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="#">Send a message</a></li>

                            <li><a href="#">Helpline +123456</a></li><hr>
                            <li><a href="#">ICONS</a></li>
                        </ul>

                    </div>
                </li>
                <li><a href="#" class="fix">More&#8964;</a>
                    <div class="dropdown" >
                        <ul >
                            <li><a href="#">Daily Schedule</a></li>
                            <li><a href="#">Daily Schedule</a></li>
                            <li><a href="#">Daily Schedule</a></li><hr>
                            <li><a href="#">Daily Schedule</a></li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
        <div class="profile">
            <span>Login</span>
            <img src="static/image/icon/profile.png" height="50" width="50" alt="logo">
        </div>
    </nav>