{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="imagediv">
    <img src="{%  static 'image/background/bg3.png' %}" height="1080px" width="1920px" alt="bg">
</div>
<div class="container">
         <div class="form">
            <form action="#">

               <!-- <i class="fa-solid fa-circle"></i> -->


               <div class="inputlocation">
                  <i class="fa fa-location"></i>
                  <input type="text" id="location" name="location" placeholder="Enter location">
                 
                  <i class="fas fa-angle-right" style="font-size:18px;">
                  
               </div>

               <div class="inputlocation">
                  <i class="fa fa-location"></i>
                  <input type="text" id="location" name="location" placeholder="Enter destination">
                  
               </div>

               

               <div class="submitBtn"><input value="Submit" type="submit"></div>
            </form>
         </div>
      </div>


      

{% endblock %}