{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="imagediv">
    <img src="{%  static 'image/background/bg2.png' %}" height="1080px" width="1920px" alt="bg">
</div>
<div class="container">
         <div class="form">
            <form action="#">

               <!-- <i class="fa-solid fa-circle"></i> -->


               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter location">
               </div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter destination">
               </div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Pick up Time"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Set Date"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Schedule Duration">
               </div>

               <div class="submitBtn"><input value="Submit" type="submit"></div>
            </form>
         </div>
      </div>


      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/Headroom.js"></script>
      <script src="js/jQuery.headroom.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/smoothscroll.js"></script>
      <script src="js/custom.js"></script>

{% endblock %}