{% extends "../base/base.html" %}

{% block content %}
<div class="container">
         <div class="form">
            <form action="#">
               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter location"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter destination"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter location"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter location"></div>

               <div class="inputVal"><input type="text" id="location" name="location" placeholder="Enter location"></div>

               <div class="submitBtn"><input value="Submit" type="submit"></div>
            </form>
         </div>
      </div>

{% endblock %}