{% extends "../base/base.html" %}

{% block content %}
<hr>
<div class="SearchPost">
    <div class="textBox1"><input type="text" id="start" name="start" placeholder=".start time"></div>
    <div class="textBox2"><input type="text" id="end" name="end" placeholder=".end time"></div>
    <div class="textBox3"><input type="text" id="locations" name="location" placeholder=".location"></div>
    <div><a href="#" class="buttonS">search</a></div>
</div>
{% for p in schedulePost %}
<div class="post">
     <span>Start time:{{p.pickUp_time}}</span>
    <div>
        <span>Pick Up address : {{p.pickup_from}}</span><br>
        <span>Drop to address : {{p.drop_to}}</span>
    </div>
    <div> schedule type: {{p.type_of_schedule}}</div>
    <div> price: {{p.price}}</div>
    <div>
        <span>Name: </span><br>
        <span>Phone: </span><br>
        <span>Rate: </span><br>
    </div>
    <div>
        <img src="static/image/icon/profile.png" height="50" width="50" alt="logo">
    </div>

</div>
{% endfor %}





{% endblock %}