{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<hr>
<div class="SearchPost">
    <div class="textBox1"><input type="text" id="start" name="start" placeholder=".start time"></div>
    <div class="textBox2"><input type="text" id="end" name="end" placeholder=".end time"></div>
    <div class="textBox3"><input type="text" id="locations" name="location" placeholder=".location"></div>
    <div><a href="#" class="buttonS">search</a></div>
</div>
{% for p in schedulePost %}
<div class="post">
     <div class="sTime"> Start time:{{p.pickUp_time}}</div>
    <div>
        <span>Pick Up address : {{p.pickup_from}}</span><br>
        <span>Drop to address : {{p.drop_to}}</span>
    </div>
    <div> schedule type: {{p.type_of_schedule}}</div>
    <div> price: {{p.price}}</div>
    <div>
        <span>Name: {{p.rider_id1.id.name}} </span><br>
        <span>Phone: {{p.rider_id1.id.phone_number}}</span><br>
        <span>Rate: </span><br>
    </div>
    <div class="profile">
        <img src="{%  static 'image/icon/profile.png' %}" height="60" width="60" alt="logo">
    </div>

</div>
{% endfor %}





{% endblock %}