{% extends "../base/base.html" %}

{% block content %}
<hr>
<div class="SearchPost">
    <div class="textBox1"><input type="text" id="start" name="start" placeholder=".start time"></div>
    <div class="textBox2"><input type="text" id="end" name="end" placeholder=".end time"></div>
    <div class="textBox3"><input type="text" id="locations" name="location" placeholder=".location"></div>
    <div><a href="#" class="buttonS">search</a></div>
</div>
<div class="post">
     <span>start time</span>
    <div>
        <span>start address</span><br>
        <span>end address</span>
    </div>
    <div> schedule type: </div>
    <div> price: </div>
    <div>
        <span>Name: </span><br>
        <span>Phone: </span><br>
        <span>Rate: </span><br>
    </div>
    <div>
        <img src="static/image/icon/profile.png" height="50" width="50" alt="logo">
    </div>

</div>
<div class="post">
     <span>start time</span>
    <div>
        <span>start address</span><br>
        <span>end address</span>
    </div>
    <div> schedule type: </div>
    <div> price: </div>
    <div>
        <span>Name: </span><br>
        <span>Phone: </span><br>
        <span>Rate: </span><br>
    </div>
    <div>
        <img src="static/image/icon/profile.png" height="50" width="50" alt="logo">
    </div>

</div>
<div class="post">
     <span>start time</span>
    <div>
        <span>start address</span><br>
        <span>end address</span>
    </div>
    <div> schedule type: </div>
    <div> price: </div>
    <div>
        <span>Name: </span><br>
        <span>Phone: </span><br>
        <span>Rate: </span><br>
    </div>
    <div>
        <img src="static/image/icon/profile.png" height="50" width="50" alt="logo">
    </div>

</div>




{% endblock %}