{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<section class="contact">

            <div class="contactFrom" >
                <h2><b>Change Password</b></h2>
            <form action="{% url 'changePassword' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                Username: {{request.user.username}}
                {{form.as_p}}

                <input type="submit" name="Submit" value="save">

            </form>
            </div>
</section>
{% endblock %}