.body{
    background-color: #e6f9ff;


}
.button {
  background-color: #0491aa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  position:fixed;
  bottom: 32%;
  left:16%;
}
.button:hover{
  background-color: #2fb2c9;
}