

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>RIde Schedule</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/navbar.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/makeSchedule.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/schedulePost.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/offcanvas.css' %}">


</head>
<body style="background-color:#e6f9ff;">
{% include "../base/navbar.html" %}
{% include "../base/offcanvas.html" %}
{% block content %}

{% endblock %}
{% include "../base/footer.html" %}

</body>
</html>