<footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/Rahat.A.145/"><i class="fa-brands fa-facebook"></i></a></li>
               <li><a href="https://discord.gg/nSa7w6P2"><i class="fa-brands fa-discord"></i></a></li>
               <li><a href="#contact"><i class="fa-brands fa-whatsapp"></i></a></li>

               <li><a href="https://www.youtube.com/@easyeducation0636"><i class="fa-brands fa-youtube"></i></a></li>
               <li><a href="https://github.com/RahatAlamgir"><i class="fa-brands fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; 2014 CeeVee</li>
               <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
               <li>Sponsored by <a rel="nofollow" href="http://www.a2hosting.com/?utm___source=styleshoutdemo&utm_medium=__cpm&utm_content=&utm_campaign=">A2Hosting</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer>