<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="static/image/icon/logo.png" width="65" height="50"  alt="logo">
    <i><b style = "color: #00ace6;">Ride</b> <b>Schedule</b></i>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="schedule/">Daily Schedule</a>
          <a class="dropdown-item" href="schedule/">Weekly Schedule</a>
          <a class="dropdown-item" href="schedule/">Monthly Schedule</a>
          <a class="dropdown-item" href="makeSchedule/">Custom Schedule</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="help/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">User help center</a>
          <a class="dropdown-item" href="#">Rider help center</a>
          <a class="dropdown-item" href="#">walk in support center</a>
          <a class="dropdown-item" href="#">How to join Ride Schedule</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="contact/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Send a message</a>
          <a class="dropdown-item" href="#">Helpline +123456</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Permissions</a>
          <a class="dropdown-item" href="#">Rate Us</a>
          <a class="dropdown-item" href="#">Policies</a>
          <a class="dropdown-item" href="#">Emergency Support</a>
        </div>
      </li>



    </ul>
  </div>
</nav>